<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>create-activity</title>

    <div th:replace="component/asset :: css"></div>
</head>

<body>

<div class="wrapper">

    <!-- navbar -->
    <div th:replace="component/navbar :: sidenav"></div>
    <div th:replace="component/navbar :: topnav"></div>

    <!-- Page Content Holder -->
    <div id="content">

        <h2 class="contentHeader">建立活動</h2>

        <div class="wrap-activity100">

            <div class="mx-auto">

                <form th:object="${activity}" class="row justify-content-around no-gutters login100-form validate-form" th:action="@{/service/activity/create}" method="POST">

                    <div class="wrap-input100 validate-input col-md-12" data-validate = "請輸入名稱">
                        <input th:field="*{activityName}" class="input100 whiteInput" type="text" name="activityName" id="activityName" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="fas fa-signature" aria-hidden="true"></i>
                        </span>
                        <span class="floating-label">活動名稱</span>
                    </div>

                    <div class="wrap-input100 validate-input col-md-12" data-validate="請選擇類型">
                        <input th:field="*{activityType}" class="input100 whiteInput" list="typeOption" type="text" name="activityType" id="activityType" required>
                        <datalist id="typeOption">
                            <option value="快走">快走</option>
                            <option value="慢跑">慢跑</option>
                            <option value="自行車">自行車</option>
                            <option value="累積步數">累積步數</option>
                        </datalist>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fas fa-running" aria-hidden="true"></i>
                        </span>
                        <span class="floating-label">活動類型</span>
                    </div>

                    <div class="wrap-input100 validate-input col-md-12" data-validate="請輸入地點">
                        <input th:field="*{location}" class="input100 whiteInput" type="text" name="location" id="location" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="fas fa-search-location" aria-hidden="true"></i>
                        </span>
                        <span class="floating-label">活動地點</span>
                    </div>

                    <div class="wrap-input100 col-md-5">
                        <input th:field="*{startTime}" class="input100 whiteInput" type="text" id="startTime" name="startTime" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        </span>
                        <span class="floating-label">開始時間</span>
                    </div>

                    <div class="wrap-input100 col-md-5">
                        <input th:field="*{endTime}" class="input100 whiteInput" type="text" id="endTime" name="endTime" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="fas fa-clock" aria-hidden="true"></i>
                        </span>
                        <span class="floating-label">結束時間</span>
                    </div>



                    <div class="wrap-input100 col-md-12">
                        <textarea th:field="*{rule}" class="textarea input100 whiteInput" name="rule" id="rule" rows="6" required></textarea>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="fas fa-ruler-vertical" aria-hidden="true"></i>
                        </span>
                        <span class="floating-label">活動規則</span>
                    </div>


                    <div class="row no-gutters col-md-12">
                        <div class="col-md-1"></div>
                        <button onclick="history.back()" type="button" id="cancel-button" class="login100-form-btn wrap-input100 btn-outline-danger bg-white text-danger col-md-4">
                            取消
                        </button>
                        <div class="col-md-2"></div>
                        <button id="submit-button" type="submit" class="login100-form-btn wrap-input100 btn-outline-success bg-white text-success col-md-4">
                            建立
                        </button>
                        <div class="col-md-1"></div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div th:replace="component/asset :: script"></div>

</body>
</html>