<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>login</title>

    <div th:replace="component/asset :: css"></div>
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class=" row justify-content-around no-gutters login100-form validate-form" th:action="@{/login}" method="POST">
					<span class="login100-form-title">
						妙管家管理平台
					</span>

					<div th:if="${param.error}" class=".wrap-login100 alert alert-danger">
						錯誤的帳號或是密碼
					</div>
					<div th:if="${param.logout}" class=".wrap-login100 alert alert-dark">
						成功登出
					</div>

					<div class="wrap-input100 validate-input" data-validate = "請輸入帳號">
						<input class="input100" type="text" name="username" id="username" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-user" aria-hidden="true"></i>
						</span>
						<span class="floating-label">帳號</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "請輸入密碼">
						<input class="input100" type="password" name="password" id="password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-key" aria-hidden="true"></i>
						</span>
						<span class="floating-label">密碼</span>
					</div>

					<div class="container-login100-form-btn">
						<button  id="submit-button" type="submit" class="login100-form-btn">
							登入
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

    <div th:replace="component/asset :: script"></div>

</body>
</html>