<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>user-list</title>

    <div th:replace="component/asset :: css"></div>
</head>

<body>

    <div class="wrapper">

        <!-- navbar -->
        <div th:replace="component/navbar :: sidenav"></div>
        <div th:replace="component/navbar :: topnav"></div>

        <!-- Page Content Holder -->
        <div  id="content">

            <a th:href="@{/createUser}" class="login100-form-btn bg-light text-dark flowBtn">
                <i class="far fa-list-alt mx-1"></i>
                新增帳號
            </a>
            <a th:href="@{/createUser}" class="login100-form-btn bg-light text-dark flowBtn col-12 d-md-none">
                <i class="far fa-list-alt mx-1"></i>新增
            </a>

            <h2 class="contentHeader">管理者列表</h2>

            <div class="row wrap-activity100">


                <h3>目前帳號</h3>

                <div class="col-12 col-md-12">

                <div th:each="user:${user}" class="wrap-insideActivity row no-gutters col-md-12">
                    <h4>名稱：</h4>
                    <h4 th:text="${user.displayName}">顯示名稱</h4>
                    <h4 class="mx-2 d-none d-md-block">/</h4>
                    <div class="my-2 col-12 d-md-none"></div>
                    <h4>帳號：</h4>
                    <h4 th:text="${user.username}">帳號</h4>
                    <button type="button" class="cancelBtn" data-toggle="modal" data-target="#exampleModalCenter" th:attr="data-name=${user.displayName},data-id=${user.id}" data-service="user"  data-type="帳號">
                        <span><i class="fas fa-times-circle fa-2x"></i></span>
                    </button>
                </div>

<!--                <div class="col-md-12"></div>-->
<!--                <div th:each="user:${user}" class="wrap-insideActivity col-md-12">-->
<!--                    <h3 th:text="${user.displayName}+' / '+${user.username}">UserName</h3>-->
<!--                    <button type="button" class="cancelBtn" data-toggle="modal" data-target="#exampleModalCenter" th:attr="data-name=${user.displayName},data-id=${user.id}" data-service="user"  data-type="帳號">-->
<!--                        <span><i class="fas fa-times-circle fa-2x"></i></span>-->
<!--                    </button>-->

<!--                </div>-->

            </div>
        </div>
    </div>

    <div th:replace="component/modal :: delete"></div>

    <div th:replace="component/asset :: script"></div>

    </body>
</html>